name: build docs

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths: [ 'docs/**', '.github/workflows/docbuild.yml']
  pull_request:
    paths: [ 'docs/**', '.github/workflows/docbuild.yml']

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: npm
          cache-dependency-path: docs/package-lock.json
      - uses: actions/configure-pages@v4
      - run: |
          cd docs
          export VITEPRESS_BASE=/PatchTranslator/
          mkdir -p .vitepress/public
          cp ../src/files/static/logo.png .vitepress/public/logo.png
          npm ci
          npm run docs:build
          cp index.html .vitepress/dist
          cd ..
      - uses: actions/upload-pages-artifact@v3
        with:
          path: docs/.vitepress/dist
  deploy:
    if: github.event_name != 'pull_request'
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    needs: build
    runs-on: ubuntu-latest
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4
